@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding:1.3rem 1.3rem;
  text-align: center;
}

.logo {
  height: 8rem;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 1.5em #F5A132);
}

.read-the-docs {
  color: #888;
} 
